.links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  li + li {
    margin-top: 0.8em;
  }

  &-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
