<footer class="footer bg-dark text-white pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div>
        <img
          class="img-fluid"
          src="assets/images/logo.png"
          alt="Logo"
          width="130px"
        />
      </div>
    </div>

    <hr class="bg-white my-4 my-sm-5" />

    <div class="links pb-4">
      <ul class="col-6 col-md-3">
        <li>Our Products</li>
        <li><small>The Support Suite</small></li>
        <li><small>The Sales Suite</small></li>
        <li><small>Support</small></li>
        <li><small>Guide</small></li>
      </ul>

      <ul class="col-6 col-md-3">
        <li>Top Features</li>
        <li><small>Ticketing System</small></li>
        <li><small>Knowledge Base</small></li>
        <li><small>Community Forums</small></li>
        <li><small>Help Desk Software</small></li>
      </ul>

      <ul class="col-6 col-md-3 mt-5 mt-sm-0">
        <li>Resources</li>
        <li><small>Product Support</small></li>
        <li><small>Request Demo</small></li>
        <li><small>Library</small></li>
        <li><small>Peoplepower Blog</small></li>
      </ul>

      <ul class="col-6 col-md-3 mt-5 mt-sm-0">
        <li>Company</li>
        <li><small>About Us</small></li>
        <li><small>Press</small></li>
        <li><small>Investors</small></li>
        <li><small>Events</small></li>
      </ul>
    </div>

    <small class="d-block text-center mt-5">© FurniShop 2022 - All Rights Reserved</small>
  </div>
</footer>
