<section class="text-white">
  <div class="home">
    <h1 class="text-center display-4 fw-bold">
      Creative Home Simpify Your<br class="d-none d-sm-block" />
      Furniture
    </h1>

    <p class="text-center mt-4 px-2 px-sm-0">
      Do i have consent to record this meeting gain locaion, root-and-<br class="d-none d-sm-block" />
      branch, review, nor game plan who's the goto
    </p>

    <button class="btn btn-lg btn-info col-8 col-md-3 mt-4 mt-sm-5">
      <span>Shop Now</span>
    </button>
  </div>

  <ul class="numbers bg-success">
    <li class="col-6 col-sm-3 mb-5 mb-sm-0">
      <h2>7</h2>
      <p class="mt-1 mt-sm-0">Year<br />Experience</p>
    </li>

    <li class="col-6 col-sm-3 mb-5 mb-sm-0">
      <h2>2</h2>
      <p class="mt-1 mt-sm-0">Opened in<br />the country</p>
    </li>

    <li class="col-6 col-sm-3">
      <h2>10k+</h2>
      <p class="mt-1 mt-sm-0">Furniture <br class="d-none d-sm-block" />sold</p>
    </li>

    <li class="col-6 col-sm-3">
      <h2>260+</h2>
      <p class="mt-1 mt-sm-0">Variant <br class="d-none d-sm-block" />Furniture</p>
    </li>
  </ul>
</section>

